%table.table.table-bordered.table-striped
  %thead.bg-info
    %tr
      %th Title
      %th Content
      %th Created at
      %th Updated at
  %tbody
    -@announcements.each do |a|
      %tr
        %td= link_to "#{a.title} [#{a.committee_type}]", comment_path(a.id)
        %td= a.content
        %td= a.created_at.strftime("%m/%d/%Y %l:%M %p")
        %td= a.updated_at.strftime("%m/%d/%Y %l:%M %p")
