.container.well
  = link_to admin_index_path, :class => "btn btn-info" do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
  %br
  = form_tag update_announcement_path(@id, @announcement), :method => :put do
    .form-group
      = label :announcement, :title, "Title: "
      = text_area :announcement, 'title', cols: 40, rows: 3, :value => @target_announcement.title, class: 'form-control'
    .form-group
      = label :announcement, :content, "Content: "
      = text_area :announcement, 'content', cols: 40, rows: 10, :value => @target_announcement.content, class: 'form-control'
    .form-group
      = submit_tag 'Submit', :class => "btn btn-success"
