%h1 Create New User

.container.well
  - if flash[:notice].respond_to? :each
    - flash[:notice].each do |msg|
      %p#flashNotice
        = msg

  = form_tag create_user_path do
    .form-group
      = label :user, :email, 'Email'
      = text_field :user, 'email', class: 'form-control'
    .form-group
      = label :user, :password, 'Password'
      = password_field :user, 'password', class: 'form-control'
    .form-group
      = label :user, :password_confirmation, 'Password Confirmation'
      = password_field :user, 'password_confirmation', class: 'form-control'
    .form-group
      = label :user, :admin, 'Admin'
      = select :user, :admin, [['True', true], ['False', false]], {}, class: 'form-control'
    = submit_tag 'Submit', class: 'btn btn-success'