%h1 New Dashboard Announcement

.container.well
  = link_to admin_index_path, class: 'btn btn-info' do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
  %br
  = form_tag create_announcement_path(@announcement), method: :put do
    .form-group
      = label :announcement, :title, "Title: "
      = text_area :announcement, 'title', cols: 40, rows: 3, placeholder: "Your title here", class: 'form-control'
    .form-group
      = label :announcement, :content, "Content: "
      = text_area :announcement, 'content', cols: 40, rows: 10, placeholder: "Your content here", class: 'form-control'
    
    = submit_tag 'Submit', class: 'btn btn-success'
