%h1 Edit Event

- if flash[:notice]
  #flashNotice
    = flash[:notice]
</br>

.container.well
  = link_to admin_index_path, :class => "btn btn-info" do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
  %br
  = form_tag update_event_path(@event.id) do
    .form-group
      =label :event, :title, 'Title'
      =text_field :event, 'title', :value => @event.title, :class => "form-control"
    .form-group
      =label :event, :location, 'Location'
      =text_field :event, 'location', :value => @event.location, :class => "form-control"
    .form-group
      = label_tag :description, "Description: "
      = text_area_tag 'description', @event.description, :class => "form-control"
    .form-group
      =label :event, :date, 'Date and Time'
      =datetime_field :event, 'date', :value => @event.date.strftime('%Y-%m-%dT%H:%M:00'), placeholder: "YYYY-MM-DD HH:mmAM", :class => "form-control"
    .form-group
      = label :event, :url, 'URL'
      = text_field :event, 'url', :value => @event.url, :class => "form-control"
    .form-group
      = submit_tag 'Submit', :class => "btn btn-success"