%h1 Edit current file

- if flash[:notice] == "Populate all fields before submission."
  #flashNotice
    = flash[:notice]

.container.well
  = link_to documents_path do
    %span.glyphicon.glyphicon-arrow-left
    Back
  %br
  %br
  = form_tag update_file_path(@id, @file), :method => :put do
    .form-group
      = label :file, :title, 'Title'
      = text_field :file, 'title', value: @file.title, class: 'form-control'
    .form-group
      = label :file, :url, 'URL'
      = text_field :file, 'url', value: @file.url, class: 'form-control'
    .form-group
      = label :file, :committee_type, 'Committee'
      = select :file, :committee_type, {'About Community Grows' => 'CGadmin', 
                'Board Overview' => 'boardoverview', 'Board Activities' => 'boardactivities', 
                'Budgets and Finances' => 'budgetfinance', 'AB Meetings' => 'abmeetings', 
                'Board Resources' => 'boardresources'}

    = submit_tag 'Submit', class: 'btn btn-success'