%h1 Document Repository
  
#flashNotice
  - if flash[:notice] and flash[:notice]!="Signed in successfully."
    = flash[:notice]

= link_to 'Add new file', new_file_path, :class => "btn btn-success btn-large"
- @categories.each do |category|

  -if not category.hidden?

    %h2= "#{category.name}"

    #document_content
      %table.table.table-striped.table-bordered
        %thead.bg-info
          %tr
            %th File name
            %th Updated at
            %th Read Status
        %tbody
          - documents = category.documents
          - if documents.empty?
            %tr
              %td No files have been entered
              %td -
              %td -
          - documents.each do |file|
            %tr
              %td= link_to file.title, info_file_path(file.id)
              %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")
              - if @curr_user.has_read?(file)
                %td= "Read"
              - else
                %td= "Not Read"