#docRepo
  %h1 Document Repository
  

- if flash[:notice] and flash[:notice]!="Signed in successfully."
  #flashNotice
    = flash[:notice]

- @categories.each do |category|

  -if not category.hidden?

    %h2#committeeTitle= "#{category.name}"

    #document_content
      %table
        %thead
          %tr
            %td File name
            %td Updated at
            %td Read Status
        %tbody
          - documents = category.documents
          - if documents.empty?
            %td= "No files have been entered"
          - documents.each do |file|
            %tr
              %td= link_to file.title, info_file_path(file.id)
              %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")
              - if @curr_user.has_read?(file)
                %td= "Read"
              - else
                %td= "Not Read"
        
= link_to 'Add new file', new_file_path, :class => "button"
