%h1 Document Repository
  
- if flash[:notice] and flash[:notice]!="Signed in successfully."
  #flashNotice
    = flash[:notice]


%h4 About Community Grows

.document_content
  %table.table.table-striped.table-bordered
    %thead.bg-info
      %tr
        %th File name
        %th Updated at
    %tbody
      - documents = Document.where(:committee_type => 'CGadmin')
      - if documents.empty?
        %td No files have been entered
        %td -
      - documents.each do |file|
        %tr
          %td= link_to file.title, info_file_path(file.id)
          %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")


%h4 Board Overview

.document_content
  %table.table.table-striped.table-bordered
    %thead.bg-info
      %tr
        %th File name
        %th Updated at
    %tbody
      - documents = Document.where(:committee_type => 'boardoverview')
      
      - if documents.empty?
        %td No files have been entered
        %td -
      - documents.each do |file|
        %tr
          %td= link_to file.title, info_file_path(file.id)
          %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")


%h4 Board Activities

.document_content
  %table.table.table-striped.table-bordered
    %thead.bg-info
      %tr
        %th File name
        %th Updated at
    %tbody
      - documents = Document.where(:committee_type => 'boardactivities')
      
      - if documents.empty?
        %td No files have been entered
        %td -
      - documents.each do |file|
        %tr
          %td= link_to file.title, info_file_path(file.id)
          %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")


%h4 Budgets and Finances

.document_content
  %table.table.table-striped.table-bordered
    %thead.bg-info
      %tr
        %th File name
        %th Updated at
    %tbody
      - documents = Document.where(:committee_type => 'budgetfinance')
      - if documents.empty?
        %td No files have been entered
        %td -
      - documents.each do |file|
        %tr
          %td= link_to file.title, info_file_path(file.id)
          %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")


%h4 AB Meetings

.document_content
  %table.table.table-striped.table-bordered
    %thead.bg-info
      %tr
        %th File name
        %th Updated at
    %tbody
      - documents = Document.where(:committee_type => 'abmeetings')
      
      - if documents.empty?
        %td No files have been entered
        %td -
      - documents.each do |file|
        %tr
          %td= link_to file.title, info_file_path(file.id)
          %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")


%h4 Board Resources

.document_content
  %table.table.table-striped.table-bordered
    %thead.bg-info
      %tr
        %th File name
        %th Updated at
    %tbody
      - documents = Document.where(:committee_type => 'boardresources')
      
      - if documents.empty?
        %td No files have been entered
        %td -
      - documents.each do |file|
        %tr
          %td= link_to file.title, info_file_path(file.id)
          %td= file.updated_at.strftime("%m/%d/%Y %l:%M %p")
          

= link_to 'Add new file', new_file_path, :class => "btn btn-warning btn-large"
