.container
  .well
    %h1 #{@file.title} Information
      
    - if flash[:notice] and flash[:notice]!='Signed in successfully.'
      #flashNotice
        = flash[:notice]
        
    = link_to documents_path, :class => 'btn btn-info' do
      %span.glyphicon.glyphicon-arrow-left
      Back

    %h3
      File:
      = link_to @file.title, @file.url, :target => '_blank'

      %span.pull-right
        Updated At:
        #{@file.updated_at.strftime('%m/%d/%Y %l:%M %p')}

    %h3 Edit Document
    = form_tag update_file_path(@id, @file), :method => :put do

      .form-group
        = label :file, :title, 'Title'
        = text_field :file, 'title', :class => 'form-control', :value => @file.title

      .form-group
        = label :file, :url, 'URL'
        = text_field :file, 'url', :class => 'form-control', :value => @file.url

      .form-group
        = label :file, :committee_type, 'Category'
        = select :file, :committee_type, {'About Community Grows' => 'CGadmin', 'Board Overview' => 'boardoverview', 'Board Activities' => 'boardactivities', 'Budgets and Finances' => 'budgetfinance', 'AB Meetings' => 'abmeetings', 'Board Resources' => 'boardresources'}, {}, {:class => 'form-control'}

      .form-group
        = button_tag type: 'submit', class: 'btn btn-success' do
          %span.glyphicon.glyphicon-ok
          Save changes

        = link_to delete_file_path(@file.id), :class => 'btn btn-danger pull-right', data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove
          Delete document