#docRepo
  %h1 #{@file.title} Information
  

- if flash[:notice] and flash[:notice]!="Signed in successfully."
  #flashNotice
    = flash[:notice]
    
=link_to 'back', documents_path

%h2
  File:
  = link_to @file.title, @file.url, :target => "_blank"

%h3
  Updated At:
  #{@file.updated_at.strftime("%m/%d/%Y %l:%M %p")}

%h2 Edit Document
= form_tag update_file_path(@id, @file), :method => :put do

  = label :file, :title, 'Title'
  = text_field :file, 'title', :value => @file.title
  
  = label :file, :url, 'URL'
  = text_field :file, 'url', :value => @file.url

  = label :file, :category_id, 'Category'
  = select :file, :category_id, @categories.map{ |category| [category.name, category.id]}.to_h

  = submit_tag 'Submit'
  
%p= link_to "Delete document", delete_file_path(@file.id), data: { confirm: 'Are you sure?' }

=link_to 'back', documents_path

