%h1 Add new file

- if flash[:notice] == "Populate all fields before submission." or flash[:notice]=="Please enter a valid URL."
  #flashNotice
    = flash[:notice]

</br>

= form_tag create_file_path do

  = label :file, :title, 'Title'
  = text_field :file, 'title'
  
  = label :file, :url, 'URL'
  = text_field :file, 'url'

  = label :file, :category_id, 'Category'
  - shown_categories = @categories.map { |category| (not category.hidden?) ? [category.name, category.id] : ["tmp", "tmp"] }.to_h
  - shown_categories.delete("tmp")
  = select :file, :category_id, shown_categories

  = submit_tag 'Submit'
=link_to 'back', documents_path