%h1 Add new file

- if flash[:notice] == "Populate all fields before submission." or flash[:notice]=="Please enter a valid URL."
  #flashNotice
    = flash[:notice]

%br
.container.well
  = form_tag create_file_path do
    .form-group
      = label :file, :title, 'Title'
      = text_field :file, 'title', :class => 'form-control'
    .form-group
      = label :file, :url, 'URL'
      = text_field :file, 'url', :class => 'form-control'
    .form-group
      = label :file, :committee_type, 'Category'
      = select :file, :committee_type, {'About Community Grows' => 'CGadmin', 
                'Board Overview' => 'boardoverview', 'Board Activities' => 'boardactivities', 
                'Budgets and Finances' => 'budgetfinance', 'AB Meetings' => 'abmeetings', 
                'Board Resources' => 'boardresources'}, {}, :class => 'form-control'

    = submit_tag 'Submit', :class => 'btn btn-success'