%h1 Add new file

- if flash[:notice] == "Populate all fields before submission." or flash[:notice]=="Please enter a valid URL."
  #flashNotice
    = flash[:notice]

</br>

= form_tag create_file_path do

  = label :file, :title, 'Title'
  = text_field :file, 'title'
  
  = label :file, :url, 'URL'
  = text_field :file, 'url'

  = label :file, :category_id, 'Category'
  = select :file, :category_id, @categories.map{ |category| [category.name, category.id]}.to_h 

  = submit_tag 'Submit'
=link_to 'back', documents_path