%h1 Edit Account Credentials
- if flash[:notice]
  - if (flash[:notice].respond_to? :each)
    - flash[:notice].each do |msg|
      #flashNotice  
        = msg
  -else
    #flashNotice
      = flash[:notice]
</br>

#form
  = form_tag update_user_credentials_path, :method => :put do
    = label :user, :email, "Email: "
    #field
    = text_field :user, 'email', :placeholder => @user.email, :size => "60x10"
    <br/>
    = label :user, :password, "Password: "
    #field
    = text_field :user, 'password', :size => "60x10"
    <br/>
    = label :user, :password_confirmation, "Password Confirmation: "
    #field
    = text_field :user, 'password_confirmation', :size => "60x10"
    <br/>
    = submit_tag 'Submit', :class => "button"
  =link_to 'Back', dashboard_index_path, :class => "button"
%h1{:align=>"center",:style=>"margin-top:100px"} Email Preferences

#form
  = form_for @user, :url => update_user_email_preference_path(@user),  html: { method: :post } do |f|
    = f.label "Internal: "
    = f.check_box :internal
    <br/>
    = f.label "External: "
    = f.check_box :external
    <br/>
    = f.label "Executive: "
    = f.check_box :executive
    <br/>
    = f.submit "Confirm", :class => "button"
